################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CPlusPlusLang/.vs/CPlusPlusLang/v16
/CPlusPlusLang/CPlusPlusLang/Debug
/CPlusPlusLang/Debug
*.user
/CPlusPlusLang/CPlusPlusLang/x64/Debug
/CPlusPlusLang/x64/Debug
/Debug
/Algorithm/Debug
/Algorithm/x64/Debug
/x64/Debug
